@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    box-sizing: border-box;
    font-size: 16px;
    padding: 2rem;
    background: gray;
}
/*fonts and line heights*/
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    /*grid*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    gap: 2rem;
}

em{
    font-weight: bold;
}

h1, h2{
    font-family: "Metal Mania", system-ui;
    font-weight: bold;
    line-height: 1.2rem;
    padding: 4px;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.5rem;
    border: 5px solid black;
    display: inline-block;
    background: gray;
}

p{
    margin-bottom: 1.5rem;
    padding: 4px;
}

blockquote{
    border: 5px solid black;
    
}

header{
    text-align: center; 
    border: 5px solid black;
    background: rgb(95, 43, 43);
    margin-bottom: auto;  
}




