@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*box model*/
html{
    box-sizing: border-box;
    font-size: 16px;
}


*,*::before, *::after{
    box-sizing: inherit;
}
/*basic styles*/
html{
    background: gray;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    
    /*grid*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem;
}
/*typeography*/
h1, h2{
    font-family: "Metal Mania", system-ui;
    font-weight: bold;
    line-height: 1.2rem;
}

h1{
    font-size: 2.5rem;
    background: gray;
    padding: 0.5rem;
}

h2{
    font-size: 1.5rem;
    display: inline-block;
    background: gray;
    padding: 0.5rem;
}

p{ 
    margin-bottom: 1.5rem;
}

em{
    font-weight: bold;
}

blockquote p{
    font-style: italic; 
}
/*grid layout*/
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
}

section{
    grid-row: 1 / 3;
    grid-column: 1;
}


aside:first-of-type{
    grid-row: 1;
    grid-column: 2;
}
 
aside:last-of-type{
    grid-row: 2;
    grid-column: 2;
}
/*flexboxes*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    font-weight: bold;
}

footer a{
    display: inline;
    margin: 0 1rem;
}

section{
    padding: 2rem;
}

aside{
    padding: 2rem;
}

/*colors*/
h1,
h2, 
blockquote,
header, 
footer, 
aside{
    border: 5px solid black;
}

blockquote,
header,
footer,
aside{
    background: rgb(95, 43, 43);
    text-align: center; 
    border-radius: 1rem;
}







